/* .cart {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 20px;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  padding: 5px;
  margin-bottom: 5px;
}

.cart h2 {
  color: green;
}

button {
  z-index: 10;
  pointer-events: auto;
} */
